.pane {
    -fx-background-color:  #b2cfff;
    -fx-border-color:  #d1dbff;
    -fx-font-weight: bold;
}

.jfx-text-field {
}

.tab-button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

.button-raised{
    -fx-background-color: #f49542;
    -jfx-button-type: RAISED;
    -fx-text-fill: WHITE;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.button-raised .jfx-rippler{
    -jfx-rippler-fill: #ffd0af;
}

.tab-header-background {
    -fx-background-color: #f49542;
}